/* スマホ用 */
main{
  box-sizing: border-box;
  margin: 0 auto;
}
table{
  text-align: center;
  height: 10vh;
}
td{
  width: 33.3%;
  height: 100px;
}
#disball{
  position: relative;
  top:-10px;
}
.ball-frame{
  height: 300px;
  
}
.ball{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 50px;
}

/* タブレット用 */
@media screen and (min-width: 481px){
  body{
    color: blue;
  }
}

/* PC用 */
/*デバイスが縦向きの場合*/
@media screen and (min-width: 960px) {
  body{
    color: red;
  }
}