<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
</head>
<body>
  <main>
    <div class="top">
      <h1>ビリヤード○○</h1>
    </div>
    <section>
      <div class="JPA">
        <a href="jpa"><p>JPAをやる</p></a>
      </div>
      <div class="JAPAN9">
        <a href="japan9"><p>JAPAN9をやる</p></a>
      </div>
      <div class="JAPAN10">
        <a href="japan10"><p>JAPAN10をやる</p></a>
      </div>
    </section>
  </main>
  
  
</body>
</html>