<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- ジンジャで表示している。 -->
  <main>
    <table border="5">
      <tbody>
        <tr>
          <td>
            <p>{{myName}}</p>
          </td>
          <td>
            <p>{{yourName}}</p>
          </td>
          <td>
            <p>イニング数</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>スキルレベル:{{myLevel}}</p>
          </td>
          <td>
            <p>スキルレベル:{{yourLevel}}</p>
          </td>
          <td>
            <input type="button" value="+" id="pulus-inning">
            <input type="button" value="-" id="minus-inning">
            <p id="count">0</p>
          </td>
        </tr>
        <tr>
          <td>
            <div id="mycount"><p>0</p></div>
          </td>
          <td>
            <div id="yourcount"><p>0</p></div>
          </td>
          <td>
            <div>無効球<p id="disball">0</p></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bill-ball">
              <input type="button" value="1" id="mybtn1">
            </div>
            <div class="bill-ball">
              <input type="button" value="2" id="mybtn2">
            </div>
            <div class="bill-ball">
              <input type="button" value="3" id="mybtn3">
            </div>
            <div class="bill-ball">
              <input type="button" value="4" id="mybtn4"> 
            </div>
            <div class="bill-ball">
              <input type="button" value="5" id="mybtn5">
            </div>
            <div class="bill-ball">
              <input type="button" value="6" id="mybtn6">
            </div>
            <div class="bill-ball">
              <input type="button" value="7" id="mybtn7">
            </div>
            <div class="bill-ball">
              <input type="button" value="8" id="mybtn8">
            </div>
            <div class="bill-ball">
              <input type="button" value="9" id="mybtn9">
            </div>
          </td>
          <td>
            <div class="bill-ball">
              <input type="button" value="1" id="yourbtn1">
            </div>
            <div class="bill-ball">
              <input type="button" value="2" id="yourbtn2">
            </div>
            <div class="bill-ball">
              <input type="button" value="3" id="yourbtn3">
            </div>
            <div class="bill-ball">
              <input type="button" value="4" id="yourbtn4">
            </div>
            <div class="bill-ball">
              <input type="button" value="5" id="yourbtn5">
            </div>
            <div class="bill-ball">
              <input type="button" value="6" id="yourbtn6">
            </div>
            <div class="bill-ball">
              <input type="button" value="7" id="yourbtn7">
            </div>
            <div class="bill-ball">
              <input type="button" value="8" id="yourbtn8">
            </div>
            <div class="bill-ball">
              <input type="button" value="9" id="yourbtn9">
            </div>
          </td>
          <td>
            <div class="bill-ball">
              <input type="button" value="1" id="disbtn1">
            </div>
            <div class="bill-ball">
              <input type="button" value="2" id="disbtn2">
            </div>
            <div class="bill-ball">
              <input type="button" value="3" id="disbtn3">
            </div>
            <div class="bill-ball">
              <input type="button" value="4" id="disbtn4">
            </div>
            <div class="bill-ball">
              <input type="button" value="5" id="disbtn5">
            </div>
            <div class="bill-ball">
              <input type="button" value="6" id="disbtn6">
            </div>
            <div class="bill-ball">
              <input type="button" value="7" id="disbtn7">
            </div>
            <div class="bill-ball">
              <input type="button" value="8" id="disbtn8">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="myMore"><p>{{myMore}}</p></div>
          </td>
          <td>
            <div id="yourMore"><p>{{yourMore}}</p></div>           
          </td>
          <td>
            <p>←MoreBall</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <input type="button" value="戻る" id="back">
    </div>
    <div id="score">
    </div>
  </main>
  <!-- javascriptの読み込みを -->
  <script type="text/javascript" src="../static/index.js"></script>
</body>
<p>
  jsの戻るボタンの実装を行なっている途中<br>
  9を落とした後の戻るボタンの実装だけ<br>
  ９を落とした時に前の９までにないものが無好球と考える<br>
  またmyscoreに前のやつを与えてscoreのとこのHTMLも消す。
</p>
</html>