<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- ジンジャで表示している。 -->
  <main>
    <table border="5">
      <tbody>
        <tr>
          <td>
            <p>{{myName}}</p>
          </td>
          <td>
            <p>{{yourName}}</p>
          </td>
          <td>
            <p>無効球</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>スキルレベル:{{myLevel}}</p>
          </td>
          <td>
            <p>スキルレベル:{{yourLevel}}</p>
          </td>
          <td>
            <p>イニング数を数える</p>
          </td>
        </tr>
        <tr>
          <td>
            <div id="mycount"><p>0</p></div>
          </td>
          <td>
            <p>カウントを表示させる</p>
          </td>
          <td>
            <p>カウントを表示させる</p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="bill-ball">
              <input type="button" value="1" id="mybtn1">
            </div>
            <div class="bill-ball">
              <input type="button" value="2" id="mybtn2">
            </div>
            <div class="bill-ball">
              <input type="button" value="3" id="mybtn3">
            </div>
            <div class="bill-ball">
              <input type="button" value="4" id="mybtn4"> 
            </div>
            <div class="bill-ball">
              <input type="button" value="5" id="mybtn5">
            </div>
            <div class="bill-ball">
              <input type="button" value="6" id="mybtn6">
            </div>
            <div class="bill-ball">
              <input type="button" value="7" id="mybtn7">
            </div>
            <div class="bill-ball">
              <input type="button" value="8" id="mybtn8">
            </div>
            <div class="bill-ball">
              <input type="button" value="9" id="mybtn9">
            </div>
          </td>
          <td>
            <div class="bill-ball">
              <input type="button" value="1">
            </div>
            <div class="bill-ball">
              <input type="button" value="2">
            </div>
            <div class="bill-ball">
              <input type="button" value="3">
            </div>
            <div class="bill-ball">
              <input type="button" value="4">
            </div>
            <div class="bill-ball">
              <input type="button" value="5">
            </div>
            <div class="bill-ball">
              <input type="button" value="6">
            </div>
            <div class="bill-ball">
              <input type="button" value="7">
            </div>
            <div class="bill-ball">
              <input type="button" value="8">
            </div>
            <div class="bill-ball">
              <input type="button" value="9">
            </div>
          </td>
          <td>
            <div class="bill-ball">
              <input type="button" value="1">
            </div>
            <div class="bill-ball">
              <input type="button" value="2">
            </div>
            <div class="bill-ball">
              <input type="button" value="3">
            </div>
            <div class="bill-ball">
              <input type="button" value="4">
            </div>
            <div class="bill-ball">
              <input type="button" value="5">
            </div>
            <div class="bill-ball">
              <input type="button" value="6">
            </div>
            <div class="bill-ball">
              <input type="button" value="7">
            </div>
            <div class="bill-ball">
              <input type="button" value="8">
            </div>
            <div class="bill-ball">
              <input type="button" value="9">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <p>{{myMore}}</p>
          </td>
          <td>
            <p>後何個かを表示させる</p>           
          </td>
          <td>
            <p>←MoreBall</p>
          </td>
        </tr>
      </tbody>

    </table>
  </main>
  <!-- javascriptの読み込みを -->
  <script type="text/javascript" src="../static/index.js"></script>
</body>
</html>